node red config/blynkplcflows (1).json
[
    {
        "id": "f8f504bc3f3fba56",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "47e2467db583656a",
        "type": "blynk-iot-out-write",
        "z": "f8f504bc3f3fba56",
        "name": "PROCESS",
        "pin": "16",
        "pinmode": 0,
        "client": "7518e855babc20d0",
        "x": 1030,
        "y": 40,
        "wires": []
    },
    {
        "id": "600acf3a8b005650",
        "type": "blynk-iot-out-write",
        "z": "f8f504bc3f3fba56",
        "name": "temperature",
        "pin": "19",
        "pinmode": 0,
        "client": "7518e855babc20d0",
        "x": 1030,
        "y": 100,
        "wires": []
    },
    {
        "id": "a2a2853ee1a67b7a",
        "type": "blynk-iot-out-write",
        "z": "f8f504bc3f3fba56",
        "name": "PUMP1",
        "pin": "17",
        "pinmode": 0,
        "client": "7518e855babc20d0",
        "x": 1020,
        "y": 160,
        "wires": []
    },
    {
        "id": "d34391cb29a9451e",
        "type": "blynk-iot-out-write",
        "z": "f8f504bc3f3fba56",
        "name": "PUMP2",
        "pin": "20",
        "pinmode": 0,
        "client": "7518e855babc20d0",
        "x": 1020,
        "y": 220,
        "wires": []
    },
    {
        "id": "8480019b613755c5",
        "type": "blynk-iot-out-write",
        "z": "f8f504bc3f3fba56",
        "name": "PUMP3",
        "pin": "21",
        "pinmode": 0,
        "client": "7518e855babc20d0",
        "x": 1020,
        "y": 280,
        "wires": []
    },
    {
        "id": "7cb088ace7b2a976",
        "type": "blynk-iot-out-write",
        "z": "f8f504bc3f3fba56",
        "name": "PUMP4",
        "pin": "23",
        "pinmode": 0,
        "client": "7518e855babc20d0",
        "x": 1020,
        "y": 340,
        "wires": []
    },
    {
        "id": "cd48def06f1eaa4b",
        "type": "blynk-iot-out-write",
        "z": "f8f504bc3f3fba56",
        "name": "DRAIN PUMP",
        "pin": "22",
        "pinmode": 0,
        "client": "7518e855babc20d0",
        "x": 1040,
        "y": 400,
        "wires": []
    },
    {
        "id": "46d076fc2247554e",
        "type": "blynk-iot-out-write",
        "z": "f8f504bc3f3fba56",
        "name": "HEATER",
        "pin": "25",
        "pinmode": 0,
        "client": "7518e855babc20d0",
        "x": 1020,
        "y": 460,
        "wires": []
    },
    {
        "id": "86ae183289d2834b",
        "type": "blynk-iot-out-write",
        "z": "f8f504bc3f3fba56",
        "name": "MIXER",
        "pin": "24",
        "pinmode": 0,
        "client": "7518e855babc20d0",
        "x": 1020,
        "y": 520,
        "wires": []
    },
    {
        "id": "f99854356f58a593",
        "type": "blynk-iot-out-write",
        "z": "f8f504bc3f3fba56",
        "name": "MIXING TANK LOW",
        "pin": "26",
        "pinmode": 0,
        "client": "7518e855babc20d0",
        "x": 1060,
        "y": 580,
        "wires": []
    },
    {
        "id": "a358e0f95f072239",
        "type": "blynk-iot-out-write",
        "z": "f8f504bc3f3fba56",
        "name": "MIXING TANK HIGH",
        "pin": "27",
        "pinmode": 0,
        "client": "7518e855babc20d0",
        "x": 1060,
        "y": 640,
        "wires": []
    },
    {
        "id": "95f5b1e5e3f9126f",
        "type": "blynk-iot-out-write",
        "z": "f8f504bc3f3fba56",
        "name": "HEATING TANK LOW",
        "pin": "28",
        "pinmode": 0,
        "client": "7518e855babc20d0",
        "x": 1060,
        "y": 700,
        "wires": []
    },
    {
        "id": "eecf7e1c53e8072d",
        "type": "blynk-iot-out-write",
        "z": "f8f504bc3f3fba56",
        "name": "HEATING TANK HIGH",
        "pin": "29",
        "pinmode": 0,
        "client": "7518e855babc20d0",
        "x": 1060,
        "y": 760,
        "wires": []
    },
    {
        "id": "16b95f061647773a",
        "type": "pccc in",
        "z": "f8f504bc3f3fba56",
        "endpoint": "c2018dc5f1abdf66",
        "mode": "single",
        "variable": "Temp",
        "diff": true,
        "name": "",
        "x": 730,
        "y": 100,
        "wires": [
            [
                "600acf3a8b005650"
            ]
        ]
    },
    {
        "id": "c10d18d0aa21a8f3",
        "type": "pccc in",
        "z": "f8f504bc3f3fba56",
        "endpoint": "c2018dc5f1abdf66",
        "mode": "single",
        "variable": "Process",
        "diff": true,
        "name": "",
        "x": 460,
        "y": 40,
        "wires": [
            [
                "8c7d02f1356a8528"
            ]
        ]
    },
    {
        "id": "a6572c76efc530ca",
        "type": "pccc in",
        "z": "f8f504bc3f3fba56",
        "endpoint": "c2018dc5f1abdf66",
        "mode": "single",
        "variable": "Pump1",
        "diff": true,
        "name": "",
        "x": 510,
        "y": 160,
        "wires": [
            [
                "790104f872a54f17"
            ]
        ]
    },
    {
        "id": "8c7d02f1356a8528",
        "type": "change",
        "z": "f8f504bc3f3fba56",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 40,
        "wires": [
            [
                "47e2467db583656a"
            ]
        ]
    },
    {
        "id": "790104f872a54f17",
        "type": "change",
        "z": "f8f504bc3f3fba56",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 160,
        "wires": [
            [
                "a2a2853ee1a67b7a"
            ]
        ]
    },
    {
        "id": "b33a969b3359e14e",
        "type": "pccc in",
        "z": "f8f504bc3f3fba56",
        "endpoint": "c2018dc5f1abdf66",
        "mode": "single",
        "variable": "Pump2",
        "diff": true,
        "name": "",
        "x": 510,
        "y": 220,
        "wires": [
            [
                "4c5ec9cda17fb80d"
            ]
        ]
    },
    {
        "id": "4c5ec9cda17fb80d",
        "type": "change",
        "z": "f8f504bc3f3fba56",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 220,
        "wires": [
            [
                "d34391cb29a9451e"
            ]
        ]
    },
    {
        "id": "3f740b451221574e",
        "type": "pccc in",
        "z": "f8f504bc3f3fba56",
        "endpoint": "c2018dc5f1abdf66",
        "mode": "single",
        "variable": "Pump3",
        "diff": true,
        "name": "",
        "x": 510,
        "y": 280,
        "wires": [
            [
                "fc49dff54afaa4d5"
            ]
        ]
    },
    {
        "id": "fc49dff54afaa4d5",
        "type": "change",
        "z": "f8f504bc3f3fba56",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 280,
        "wires": [
            [
                "8480019b613755c5"
            ]
        ]
    },
    {
        "id": "ba425b80a5d68e55",
        "type": "pccc in",
        "z": "f8f504bc3f3fba56",
        "endpoint": "c2018dc5f1abdf66",
        "mode": "single",
        "variable": "Pump4",
        "diff": true,
        "name": "",
        "x": 510,
        "y": 340,
        "wires": [
            [
                "8a6883f6a4095677"
            ]
        ]
    },
    {
        "id": "8a6883f6a4095677",
        "type": "change",
        "z": "f8f504bc3f3fba56",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 340,
        "wires": [
            [
                "7cb088ace7b2a976"
            ]
        ]
    },
    {
        "id": "695387711f4abeae",
        "type": "pccc in",
        "z": "f8f504bc3f3fba56",
        "endpoint": "c2018dc5f1abdf66",
        "mode": "single",
        "variable": "DrainPump",
        "diff": true,
        "name": "",
        "x": 520,
        "y": 400,
        "wires": [
            [
                "5927ea1cd670d120"
            ]
        ]
    },
    {
        "id": "5927ea1cd670d120",
        "type": "change",
        "z": "f8f504bc3f3fba56",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 400,
        "wires": [
            [
                "cd48def06f1eaa4b"
            ]
        ]
    },
    {
        "id": "b4f1c8623eccece9",
        "type": "pccc in",
        "z": "f8f504bc3f3fba56",
        "endpoint": "c2018dc5f1abdf66",
        "mode": "single",
        "variable": "Heater",
        "diff": true,
        "name": "",
        "x": 530,
        "y": 460,
        "wires": [
            [
                "96f6b4f849ec5290"
            ]
        ]
    },
    {
        "id": "96f6b4f849ec5290",
        "type": "change",
        "z": "f8f504bc3f3fba56",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 460,
        "wires": [
            [
                "46d076fc2247554e"
            ]
        ]
    },
    {
        "id": "aef772cfb0900fd4",
        "type": "pccc in",
        "z": "f8f504bc3f3fba56",
        "endpoint": "c2018dc5f1abdf66",
        "mode": "single",
        "variable": "Mixer",
        "diff": true,
        "name": "",
        "x": 530,
        "y": 520,
        "wires": [
            [
                "c96a2b265239b3fd"
            ]
        ]
    },
    {
        "id": "c96a2b265239b3fd",
        "type": "change",
        "z": "f8f504bc3f3fba56",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 520,
        "wires": [
            [
                "86ae183289d2834b"
            ]
        ]
    },
    {
        "id": "bb01b456337c5aaf",
        "type": "pccc in",
        "z": "f8f504bc3f3fba56",
        "endpoint": "c2018dc5f1abdf66",
        "mode": "single",
        "variable": "MXLS",
        "diff": true,
        "name": "",
        "x": 530,
        "y": 580,
        "wires": [
            [
                "8774a6f24bf83061"
            ]
        ]
    },
    {
        "id": "8774a6f24bf83061",
        "type": "change",
        "z": "f8f504bc3f3fba56",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 580,
        "wires": [
            [
                "f99854356f58a593"
            ]
        ]
    },
    {
        "id": "c821434bc6435952",
        "type": "pccc in",
        "z": "f8f504bc3f3fba56",
        "endpoint": "c2018dc5f1abdf66",
        "mode": "single",
        "variable": "MXHS",
        "diff": true,
        "name": "",
        "x": 550,
        "y": 640,
        "wires": [
            [
                "5de1d99962e50f11"
            ]
        ]
    },
    {
        "id": "5de1d99962e50f11",
        "type": "change",
        "z": "f8f504bc3f3fba56",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 640,
        "wires": [
            [
                "a358e0f95f072239"
            ]
        ]
    },
    {
        "id": "051b7d0e0d73e8c8",
        "type": "pccc in",
        "z": "f8f504bc3f3fba56",
        "endpoint": "c2018dc5f1abdf66",
        "mode": "single",
        "variable": "HTLS",
        "diff": true,
        "name": "",
        "x": 570,
        "y": 700,
        "wires": [
            [
                "b42790f20758cbc0"
            ]
        ]
    },
    {
        "id": "b42790f20758cbc0",
        "type": "change",
        "z": "f8f504bc3f3fba56",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 700,
        "wires": [
            [
                "95f5b1e5e3f9126f"
            ]
        ]
    },
    {
        "id": "91e0ac85f3dc3fb0",
        "type": "pccc in",
        "z": "f8f504bc3f3fba56",
        "endpoint": "c2018dc5f1abdf66",
        "mode": "single",
        "variable": "HTHS",
        "diff": true,
        "name": "",
        "x": 570,
        "y": 760,
        "wires": [
            [
                "e65a7f0770eead19"
            ]
        ]
    },
    {
        "id": "e65a7f0770eead19",
        "type": "change",
        "z": "f8f504bc3f3fba56",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 760,
        "wires": [
            [
                "eecf7e1c53e8072d"
            ]
        ]
    },
    {
        "id": "706efa8e36d1b3a4",
        "type": "inject",
        "z": "f8f504bc3f3fba56",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 530,
        "y": 840,
        "wires": [
            [
                "989e5d930bd1a791"
            ]
        ]
    },
    {
        "id": "989e5d930bd1a791",
        "type": "http request",
        "z": "f8f504bc3f3fba56",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://blynk.cloud/external/api/get?token=Y7YA5XJ5Cmt9YtNdYj0ycQyY1Di76LSr&v18",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 690,
        "y": 840,
        "wires": [
            [
                "e5cf0da3821cf1ac"
            ]
        ]
    },
    {
        "id": "78e8617a674b7d4b",
        "type": "debug",
        "z": "f8f504bc3f3fba56",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 840,
        "wires": []
    },
    {
        "id": "e5cf0da3821cf1ac",
        "type": "json",
        "z": "f8f504bc3f3fba56",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 830,
        "y": 840,
        "wires": [
            [
                "78e8617a674b7d4b",
                "97d6bdf5d9b37780"
            ]
        ]
    },
    {
        "id": "97d6bdf5d9b37780",
        "type": "pccc out",
        "z": "f8f504bc3f3fba56",
        "endpoint": "c2018dc5f1abdf66",
        "variable": "SetPoint",
        "name": "",
        "x": 1200,
        "y": 820,
        "wires": []
    },
    {
        "id": "d8bc2364cf6285b6",
        "type": "blynk-iot-out-write",
        "z": "f8f504bc3f3fba56",
        "name": "set point",
        "pin": "18",
        "pinmode": 0,
        "client": "7518e855babc20d0",
        "x": 1440,
        "y": 260,
        "wires": []
    },
    {
        "id": "9df80ac165317c98",
        "type": "pccc in",
        "z": "f8f504bc3f3fba56",
        "endpoint": "c2018dc5f1abdf66",
        "mode": "single",
        "variable": "SetPoint",
        "diff": true,
        "name": "",
        "x": 1200,
        "y": 260,
        "wires": [
            [
                "d8bc2364cf6285b6"
            ]
        ]
    },
    {
        "id": "7518e855babc20d0",
        "type": "blynk-iot-client",
        "name": "",
        "path": "blynk.cloud",
        "key": "Y7YA5XJ5Cmt9YtNdYj0ycQyY1Di76LSr",
        "tmpl": "TMPLYRmv11kf",
        "dbg_all": false,
        "dbg_read": false,
        "dbg_prop": false,
        "dbg_sync": false,
        "dbg_low": false,
        "dbg_pins": "",
        "multi_cmd": false,
        "enabled": true
    },
    {
        "id": "c2018dc5f1abdf66",
        "type": "pccc endpoint",
        "address": "192.168.29.11",
        "port": "44818",
        "userouting": false,
        "routingbuf": "[1,0]",
        "cycletime": "500",
        "timeout": "1500",
        "name": "plc",
        "vartable": [
            {
                "addr": "N7:1",
                "name": "Temp"
            },
            {
                "addr": "B3:0/0",
                "name": "Process"
            },
            {
                "addr": "B3:0/1",
                "name": "Pump1"
            },
            {
                "addr": "B3:0/2",
                "name": "Pump2"
            },
            {
                "addr": "B3:0/3",
                "name": "Pump3"
            },
            {
                "addr": "B3:0/4",
                "name": "Pump4"
            },
            {
                "addr": "B3:0/5",
                "name": "DrainPump"
            },
            {
                "addr": "B3:0/6",
                "name": "Heater"
            },
            {
                "addr": "B3:0/7",
                "name": "Mixer"
            },
            {
                "addr": "B3:0/8",
                "name": "MXLS"
            },
            {
                "addr": "B3:0/9",
                "name": "MXHS"
            },
            {
                "addr": "B3:0/10",
                "name": "HTLS"
            },
            {
                "addr": "B3:0/11",
                "name": "HTHS"
            },
            {
                "addr": "N7:2",
                "name": "SetPoint"
            }
        ]
    }
]