node red config/DASHBOARD (1).json
[{"id":"075bd62fa39f444c","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"b6c27a97717e3484","type":"ui_led","z":"075bd62fa39f444c","order":1,"group":"6de3bb63bb25172f","width":6,"height":5,"label":"PUMP3","labelPlacement":"right","labelAlignment":"left","colorForValue":[{"color":"#00ff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"PUMP3","x":700,"y":140,"wires":[]},{"id":"38669bc29f2b4b91","type":"ui_led","z":"075bd62fa39f444c","order":1,"group":"045e7b513fb0baa8","width":6,"height":5,"label":"PUMP2","labelPlacement":"right","labelAlignment":"left","colorForValue":[{"color":"#00ff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"PUMP2","x":700,"y":80,"wires":[]},{"id":"be1f8b73fb074ad4","type":"ui_led","z":"075bd62fa39f444c","order":1,"group":"71af7c4f87a16157","width":6,"height":5,"label":"PUMP4","labelPlacement":"right","labelAlignment":"left","colorForValue":[{"color":"#00ff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"PUMP4","x":700,"y":200,"wires":[]},{"id":"51fad72db2993b43","type":"ui_led","z":"075bd62fa39f444c","order":1,"group":"9e729a21c12a6175","width":6,"height":5,"label":"DRAIN PUMP","labelPlacement":"right","labelAlignment":"left","colorForValue":[{"color":"#00ff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"DRAIN PUMP","x":710,"y":260,"wires":[]},{"id":"ed91d43112f3f3f7","type":"mqtt in","z":"075bd62fa39f444c","name":"","topic":"PUMP1","qos":"2","datatype":"auto-detect","broker":"325a7fea43c0c12e","nl":false,"rap":true,"rh":0,"inputs":0,"x":510,"y":20,"wires":[["193155414400ab56"]]},{"id":"27ef41a57d0e2e6a","type":"mqtt in","z":"075bd62fa39f444c","name":"","topic":"PUMP2","qos":"2","datatype":"auto-detect","broker":"325a7fea43c0c12e","nl":false,"rap":true,"rh":0,"inputs":0,"x":510,"y":80,"wires":[["38669bc29f2b4b91"]]},{"id":"5e4cfce7baa11f1f","type":"mqtt in","z":"075bd62fa39f444c","name":"","topic":"PUMP3","qos":"2","datatype":"auto-detect","broker":"325a7fea43c0c12e","nl":false,"rap":true,"rh":0,"inputs":0,"x":510,"y":140,"wires":[["b6c27a97717e3484"]]},{"id":"f37bc65d0f4b3a98","type":"mqtt in","z":"075bd62fa39f444c","name":"","topic":"PUMP4","qos":"2","datatype":"auto-detect","broker":"325a7fea43c0c12e","nl":false,"rap":true,"rh":0,"inputs":0,"x":510,"y":200,"wires":[["be1f8b73fb074ad4"]]},{"id":"5acf2cfb3c896ad2","type":"mqtt in","z":"075bd62fa39f444c","name":"","topic":"DRAINPUMP","qos":"2","datatype":"auto-detect","broker":"325a7fea43c0c12e","nl":false,"rap":true,"rh":0,"inputs":0,"x":510,"y":260,"wires":[["51fad72db2993b43"]]},{"id":"842c11305bdee2bd","type":"mqtt out","z":"075bd62fa39f444c","name":"","topic":"PROCESSSTART","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"325a7fea43c0c12e","x":750,"y":320,"wires":[]},{"id":"c41a6166d227d192","type":"ui_button","z":"075bd62fa39f444c","name":"","group":"6355614a043ed464","order":1,"width":3,"height":2,"passthru":false,"label":"PROCESS START","tooltip":"","color":"WHITE","bgcolor":"GREEN","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":530,"y":320,"wires":[["842c11305bdee2bd"]]},{"id":"663d4644066bf118","type":"mqtt out","z":"075bd62fa39f444c","name":"","topic":"PROCESSSTOP","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"325a7fea43c0c12e","x":770,"y":380,"wires":[]},{"id":"10139ec0f3a7c82d","type":"ui_button","z":"075bd62fa39f444c","name":"","group":"6355614a043ed464","order":2,"width":3,"height":2,"passthru":false,"label":"PROCESS STOP","tooltip":"","color":"WHITE","bgcolor":"RED","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":510,"y":380,"wires":[["663d4644066bf118"]]},{"id":"5065ed6032b3aa52","type":"ui_slider","z":"075bd62fa39f444c","name":"","label":"set point","tooltip":"","group":"8152aaeb91a751a9","order":2,"width":12,"height":1,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":"35","max":"75","step":1,"className":"","x":580,"y":440,"wires":[["e20976475e7e7bbd","422df9b382d81bc0"]]},{"id":"e20976475e7e7bbd","type":"ui_text","z":"075bd62fa39f444c","group":"8152aaeb91a751a9","order":3,"width":12,"height":1,"name":"","label":"SET POINT VALUE","format":"{{msg.payload}}","layout":"row-left","className":"","x":1030,"y":460,"wires":[]},{"id":"422df9b382d81bc0","type":"mqtt out","z":"075bd62fa39f444c","name":"","topic":"SETPOINT","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"325a7fea43c0c12e","x":1010,"y":400,"wires":[]},{"id":"24c32bd0fcb5779b","type":"mqtt in","z":"075bd62fa39f444c","name":"","topic":"TEMP","qos":"2","datatype":"auto-detect","broker":"325a7fea43c0c12e","nl":false,"rap":true,"rh":0,"inputs":0,"x":490,"y":580,"wires":[["ce0284b5cdea0721","5e200f04e1eec910","58fc094d02ac2196"]]},{"id":"ce0284b5cdea0721","type":"ui_gauge","z":"075bd62fa39f444c","name":"TEMPERATURE ","group":"8152aaeb91a751a9","order":1,"width":12,"height":3,"gtype":"gage","title":"TEMPERATURE","label":"","format":"{{value}}","min":0,"max":"100","colors":["#0095b3","#0008e6","#ff0000"],"seg1":"10","seg2":"45","diff":false,"className":"","x":970,"y":660,"wires":[]},{"id":"71be326e400db10a","type":"ui_led","z":"075bd62fa39f444c","order":1,"group":"7a0384c9e7496d63","width":6,"height":5,"label":"MIXER","labelPlacement":"right","labelAlignment":"left","colorForValue":[{"color":"#00ff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"MIXER ","x":780,"y":720,"wires":[]},{"id":"9a74cc7496753149","type":"mqtt in","z":"075bd62fa39f444c","name":"","topic":"MIXER","qos":"2","datatype":"auto-detect","broker":"325a7fea43c0c12e","nl":false,"rap":true,"rh":0,"inputs":0,"x":510,"y":640,"wires":[["71be326e400db10a"]]},{"id":"6f32b132c12fba3c","type":"ui_led","z":"075bd62fa39f444c","order":1,"group":"b2175697a96038fd","width":6,"height":5,"label":"HEATER","labelPlacement":"right","labelAlignment":"left","colorForValue":[{"color":"#00ff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"HEATER ","x":790,"y":800,"wires":[]},{"id":"f5a5444b7a651671","type":"mqtt in","z":"075bd62fa39f444c","name":"","topic":"HEATER","qos":"2","datatype":"auto-detect","broker":"325a7fea43c0c12e","nl":false,"rap":true,"rh":0,"inputs":0,"x":500,"y":720,"wires":[["6f32b132c12fba3c"]]},{"id":"8496acbe3bb5a256","type":"ui_led","z":"075bd62fa39f444c","order":3,"group":"6355614a043ed464","width":6,"height":3,"label":"","labelPlacement":"right","labelAlignment":"left","colorForValue":[{"color":"#00ff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"PROCESS ","x":780,"y":900,"wires":[]},{"id":"188c7f795a249752","type":"mqtt in","z":"075bd62fa39f444c","name":"","topic":"PROCESS","qos":"2","datatype":"auto-detect","broker":"325a7fea43c0c12e","nl":false,"rap":true,"rh":0,"inputs":0,"x":500,"y":780,"wires":[["8496acbe3bb5a256"]]},{"id":"5e200f04e1eec910","type":"ui_chart","z":"075bd62fa39f444c","name":"SC","group":"3c2fdc976f817418","order":1,"width":15,"height":7,"label":"TEMPERATURE IN  °C (SECOND WISE) ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"100","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#4dff00","#aec7e8","#f27507","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":930,"y":560,"wires":[[]]},{"id":"58fc094d02ac2196","type":"ui_chart","z":"075bd62fa39f444c","name":"HR","group":"3c2fdc976f817418","order":2,"width":15,"height":7,"label":"TEMPERATURE IN  °C ( HOURS WISE)","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#5900ff","#aec7e8","#f27507","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":930,"y":620,"wires":[[]]},{"id":"7e274c1580e6c3f3","type":"ui_led","z":"075bd62fa39f444c","order":2,"group":"913011ab8f43207d","width":7,"height":3,"label":"MIXINGTANK ","labelPlacement":"right","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"MIXINGTANK HIGH ","x":820,"y":1000,"wires":[]},{"id":"5f69ea624eb6000a","type":"ui_led","z":"075bd62fa39f444c","order":1,"group":"913011ab8f43207d","width":8,"height":3,"label":"HEATINGTANK","labelPlacement":"right","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"HEATING TANK HIGH","x":820,"y":1080,"wires":[]},{"id":"cdb6c742f632565d","type":"mqtt in","z":"075bd62fa39f444c","name":"","topic":"MIXINGTANKHIGH","qos":"2","datatype":"auto-detect","broker":"325a7fea43c0c12e","nl":false,"rap":true,"rh":0,"inputs":0,"x":390,"y":980,"wires":[["7e274c1580e6c3f3"]]},{"id":"5a3a0be285758ca0","type":"mqtt in","z":"075bd62fa39f444c","name":"","topic":"HEATINGTANKHIGH","qos":"2","datatype":"auto-detect","broker":"325a7fea43c0c12e","nl":false,"rap":true,"rh":0,"inputs":0,"x":400,"y":1080,"wires":[["5f69ea624eb6000a"]]},{"id":"308b0a6804058efc","type":"ui_led","z":"075bd62fa39f444c","order":1,"group":"ae190bfc2fd787a9","width":8,"height":3,"label":"MIXINGTANK ","labelPlacement":"right","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"MIXINGTANK LOW  ","x":830,"y":1180,"wires":[]},{"id":"1b73ec1c4d0ed01e","type":"ui_led","z":"075bd62fa39f444c","order":2,"group":"ae190bfc2fd787a9","width":7,"height":3,"label":"HEATING TANK","labelPlacement":"right","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"HEATING TANK LOW","x":820,"y":1280,"wires":[]},{"id":"2dfcdeecdcabb60d","type":"mqtt in","z":"075bd62fa39f444c","name":"","topic":"MIXINGTANKLOW","qos":"2","datatype":"auto-detect","broker":"325a7fea43c0c12e","nl":false,"rap":true,"rh":0,"inputs":0,"x":390,"y":1180,"wires":[["308b0a6804058efc"]]},{"id":"7363c4bfaa8e9e5c","type":"mqtt in","z":"075bd62fa39f444c","name":"","topic":"HEATINGTANKLOW","qos":"2","datatype":"auto-detect","broker":"325a7fea43c0c12e","nl":false,"rap":true,"rh":0,"inputs":0,"x":390,"y":1280,"wires":[["1b73ec1c4d0ed01e"]]},{"id":"193155414400ab56","type":"ui_led","z":"075bd62fa39f444c","order":1,"group":"b1a145838f19cd19","width":6,"height":5,"label":"PUMP1","labelPlacement":"right","labelAlignment":"left","colorForValue":[{"color":"#00ff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"PUMP1","x":700,"y":20,"wires":[],"inputLabels":["pump1"]},{"id":"6739b7aeceabf202","type":"ui_chart","z":"075bd62fa39f444c","name":"SETPOINT","group":"2a0d8e54ac60315d","order":1,"width":30,"height":7,"label":"SET  POINT  IN  °C ( HOURS WISE)","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"35","ymax":"75","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#00ffbf","#aec7e8","#f27507","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":770,"y":520,"wires":[[]]},{"id":"e665dea1493ce904","type":"mqtt in","z":"075bd62fa39f444c","name":"","topic":"SETPOINTPLC","qos":"2","datatype":"auto-detect","broker":"325a7fea43c0c12e","nl":false,"rap":true,"rh":0,"inputs":0,"x":220,"y":480,"wires":[["6739b7aeceabf202","db142c94af72746c"]]},{"id":"db142c94af72746c","type":"delay","z":"075bd62fa39f444c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":420,"y":460,"wires":[["5065ed6032b3aa52"]]},{"id":"6de3bb63bb25172f","type":"ui_group","name":"PUMP3","tab":"edc4c80736a7e932","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"045e7b513fb0baa8","type":"ui_group","name":"PUMP2","tab":"edc4c80736a7e932","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"71af7c4f87a16157","type":"ui_group","name":"PUMP4","tab":"edc4c80736a7e932","order":5,"disp":true,"width":"6","collapse":false,"className":""},{"id":"9e729a21c12a6175","type":"ui_group","name":"PUMP5","tab":"edc4c80736a7e932","order":6,"disp":true,"width":"6","collapse":false,"className":""},{"id":"325a7fea43c0c12e","type":"mqtt-broker","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"6355614a043ed464","type":"ui_group","name":"PROCESS ","tab":"edc4c80736a7e932","order":1,"disp":true,"width":6,"collapse":false,"className":""},{"id":"8152aaeb91a751a9","type":"ui_group","name":"Temperature of Heating tank","tab":"edc4c80736a7e932","order":10,"disp":true,"width":12,"collapse":false,"className":""},{"id":"7a0384c9e7496d63","type":"ui_group","name":"MIXER","tab":"edc4c80736a7e932","order":8,"disp":true,"width":"6","collapse":false,"className":""},{"id":"b2175697a96038fd","type":"ui_group","name":"HEATER","tab":"edc4c80736a7e932","order":7,"disp":true,"width":"6","collapse":false,"className":""},{"id":"3c2fdc976f817418","type":"ui_group","name":"TEMPERATURE OF HEATING TANK","tab":"b6951dcab21bf625","order":1,"disp":true,"width":30,"collapse":false,"className":""},{"id":"913011ab8f43207d","type":"ui_group","name":"HIGH LEVEL INDICATION","tab":"edc4c80736a7e932","order":12,"disp":true,"width":15,"collapse":false,"className":""},{"id":"ae190bfc2fd787a9","type":"ui_group","name":"LOW LEVEL INDICATION","tab":"edc4c80736a7e932","order":11,"disp":true,"width":15,"collapse":false,"className":""},{"id":"b1a145838f19cd19","type":"ui_group","name":"PUMP1","tab":"edc4c80736a7e932","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"2a0d8e54ac60315d","type":"ui_group","name":"SET POINT THROUGHOUT DAY","tab":"b6951dcab21bf625","order":2,"disp":true,"width":30,"collapse":false,"className":""},{"id":"edc4c80736a7e932","type":"ui_tab","name":"monitoring","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"b6951dcab21bf625","type":"ui_tab","name":"TRANDS","icon":"dashboard","order":2,"disabled":false,"hidden":false}]