node red config/RASPBERRY PI (1).json
[
    {
        "id": "9df56c6e7d890c33",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "866c642f18375a94",
        "type": "blynk-iot-out-write",
        "z": "9df56c6e7d890c33",
        "name": "PROCESS",
        "pin": "16",
        "pinmode": 0,
        "client": "c9ea7c38ff443320",
        "x": 1030,
        "y": 40,
        "wires": []
    },
    {
        "id": "a0a7545c7934fbe1",
        "type": "blynk-iot-out-write",
        "z": "9df56c6e7d890c33",
        "name": "temperature",
        "pin": "19",
        "pinmode": 0,
        "client": "c9ea7c38ff443320",
        "x": 1030,
        "y": 100,
        "wires": []
    },
    {
        "id": "df1f479c36908ed9",
        "type": "blynk-iot-out-write",
        "z": "9df56c6e7d890c33",
        "name": "PUMP1",
        "pin": "17",
        "pinmode": 0,
        "client": "c9ea7c38ff443320",
        "x": 1020,
        "y": 160,
        "wires": []
    },
    {
        "id": "21a548d7386834bc",
        "type": "blynk-iot-out-write",
        "z": "9df56c6e7d890c33",
        "name": "PUMP2",
        "pin": "20",
        "pinmode": 0,
        "client": "c9ea7c38ff443320",
        "x": 1020,
        "y": 220,
        "wires": []
    },
    {
        "id": "192d102f5ffee464",
        "type": "blynk-iot-out-write",
        "z": "9df56c6e7d890c33",
        "name": "PUMP3",
        "pin": "21",
        "pinmode": 0,
        "client": "c9ea7c38ff443320",
        "x": 1020,
        "y": 280,
        "wires": []
    },
    {
        "id": "5d34c51993ec5805",
        "type": "blynk-iot-out-write",
        "z": "9df56c6e7d890c33",
        "name": "PUMP4",
        "pin": "23",
        "pinmode": 0,
        "client": "c9ea7c38ff443320",
        "x": 1020,
        "y": 340,
        "wires": []
    },
    {
        "id": "27905f760e8a1543",
        "type": "blynk-iot-out-write",
        "z": "9df56c6e7d890c33",
        "name": "DRAIN PUMP",
        "pin": "22",
        "pinmode": 0,
        "client": "c9ea7c38ff443320",
        "x": 1040,
        "y": 400,
        "wires": []
    },
    {
        "id": "4859b00ca17a6073",
        "type": "blynk-iot-out-write",
        "z": "9df56c6e7d890c33",
        "name": "HEATER",
        "pin": "25",
        "pinmode": 0,
        "client": "c9ea7c38ff443320",
        "x": 1020,
        "y": 460,
        "wires": []
    },
    {
        "id": "db382431281e3355",
        "type": "blynk-iot-out-write",
        "z": "9df56c6e7d890c33",
        "name": "MIXER",
        "pin": "24",
        "pinmode": 0,
        "client": "c9ea7c38ff443320",
        "x": 1020,
        "y": 520,
        "wires": []
    },
    {
        "id": "844551fa3723692b",
        "type": "blynk-iot-out-write",
        "z": "9df56c6e7d890c33",
        "name": "MIXING TANK LEVEL",
        "pin": "27",
        "pinmode": 0,
        "client": "c9ea7c38ff443320",
        "x": 1060,
        "y": 640,
        "wires": []
    },
    {
        "id": "1b4bb46e2ce9bf84",
        "type": "blynk-iot-out-write",
        "z": "9df56c6e7d890c33",
        "name": "HEATING TANK LEVEL",
        "pin": "29",
        "pinmode": 0,
        "client": "c9ea7c38ff443320",
        "x": 1070,
        "y": 700,
        "wires": []
    },
    {
        "id": "e6d37e84080858e8",
        "type": "pccc in",
        "z": "9df56c6e7d890c33",
        "endpoint": "41799ff2dbbecc92",
        "mode": "single",
        "variable": "Temp",
        "diff": true,
        "name": "",
        "x": 310,
        "y": 120,
        "wires": [
            [
                "a0a7545c7934fbe1",
                "f8ce5bfdb724674f"
            ]
        ]
    },
    {
        "id": "c5c08a7cb89be1a0",
        "type": "pccc in",
        "z": "9df56c6e7d890c33",
        "endpoint": "41799ff2dbbecc92",
        "mode": "single",
        "variable": "Process",
        "diff": true,
        "name": "",
        "x": 340,
        "y": 60,
        "wires": [
            [
                "f5f3eb69640da183",
                "cafa80ee25752833"
            ]
        ]
    },
    {
        "id": "38889a3b68da7ea2",
        "type": "pccc in",
        "z": "9df56c6e7d890c33",
        "endpoint": "41799ff2dbbecc92",
        "mode": "single",
        "variable": "Pump1",
        "diff": true,
        "name": "",
        "x": 270,
        "y": 180,
        "wires": [
            [
                "c88dea033aefe512",
                "91778d503bb65603"
            ]
        ]
    },
    {
        "id": "f5f3eb69640da183",
        "type": "change",
        "z": "9df56c6e7d890c33",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 40,
        "wires": [
            [
                "866c642f18375a94"
            ]
        ]
    },
    {
        "id": "c88dea033aefe512",
        "type": "change",
        "z": "9df56c6e7d890c33",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 160,
        "wires": [
            [
                "df1f479c36908ed9"
            ]
        ]
    },
    {
        "id": "5a2f732e55ac63e5",
        "type": "pccc in",
        "z": "9df56c6e7d890c33",
        "endpoint": "41799ff2dbbecc92",
        "mode": "single",
        "variable": "Pump2",
        "diff": true,
        "name": "",
        "x": 250,
        "y": 260,
        "wires": [
            [
                "4b5fc4b0bfc129f1",
                "b77ea21551129424"
            ]
        ]
    },
    {
        "id": "4b5fc4b0bfc129f1",
        "type": "change",
        "z": "9df56c6e7d890c33",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 220,
        "wires": [
            [
                "21a548d7386834bc"
            ]
        ]
    },
    {
        "id": "0f357e796fde608a",
        "type": "pccc in",
        "z": "9df56c6e7d890c33",
        "endpoint": "41799ff2dbbecc92",
        "mode": "single",
        "variable": "Pump3",
        "diff": true,
        "name": "",
        "x": 210,
        "y": 320,
        "wires": [
            [
                "dbd92ea7733a7312",
                "267fd06535cc4860"
            ]
        ]
    },
    {
        "id": "dbd92ea7733a7312",
        "type": "change",
        "z": "9df56c6e7d890c33",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 280,
        "wires": [
            [
                "192d102f5ffee464"
            ]
        ]
    },
    {
        "id": "de32463315c1902d",
        "type": "pccc in",
        "z": "9df56c6e7d890c33",
        "endpoint": "41799ff2dbbecc92",
        "mode": "single",
        "variable": "Pump4",
        "diff": true,
        "name": "",
        "x": 210,
        "y": 380,
        "wires": [
            [
                "19490c5f34c54421",
                "52988eb14c7f6ec3"
            ]
        ]
    },
    {
        "id": "19490c5f34c54421",
        "type": "change",
        "z": "9df56c6e7d890c33",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 340,
        "wires": [
            [
                "5d34c51993ec5805"
            ]
        ]
    },
    {
        "id": "a0b10b5cdfd37e20",
        "type": "pccc in",
        "z": "9df56c6e7d890c33",
        "endpoint": "41799ff2dbbecc92",
        "mode": "single",
        "variable": "DrainPump",
        "diff": true,
        "name": "",
        "x": 220,
        "y": 440,
        "wires": [
            [
                "718cee4a544b9b17",
                "3e7d9e5b0fcc71f7"
            ]
        ]
    },
    {
        "id": "718cee4a544b9b17",
        "type": "change",
        "z": "9df56c6e7d890c33",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 400,
        "wires": [
            [
                "27905f760e8a1543"
            ]
        ]
    },
    {
        "id": "fd09425ef650efaa",
        "type": "pccc in",
        "z": "9df56c6e7d890c33",
        "endpoint": "41799ff2dbbecc92",
        "mode": "single",
        "variable": "Heater",
        "diff": true,
        "name": "",
        "x": 210,
        "y": 500,
        "wires": [
            [
                "199ee8d49b04703b",
                "56d00f1e367ad46e"
            ]
        ]
    },
    {
        "id": "199ee8d49b04703b",
        "type": "change",
        "z": "9df56c6e7d890c33",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 460,
        "wires": [
            [
                "4859b00ca17a6073"
            ]
        ]
    },
    {
        "id": "e1470295ef6141e2",
        "type": "pccc in",
        "z": "9df56c6e7d890c33",
        "endpoint": "41799ff2dbbecc92",
        "mode": "single",
        "variable": "Mixer",
        "diff": true,
        "name": "",
        "x": 210,
        "y": 560,
        "wires": [
            [
                "d21dcb498861ba9d",
                "bec4eafc334a809f"
            ]
        ]
    },
    {
        "id": "d21dcb498861ba9d",
        "type": "change",
        "z": "9df56c6e7d890c33",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 520,
        "wires": [
            [
                "db382431281e3355"
            ]
        ]
    },
    {
        "id": "dd90f2e5d965ef18",
        "type": "change",
        "z": "9df56c6e7d890c33",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 640,
        "wires": [
            [
                "844551fa3723692b"
            ]
        ]
    },
    {
        "id": "5fb4a14b62e4fa22",
        "type": "change",
        "z": "9df56c6e7d890c33",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 700,
        "wires": [
            [
                "1b4bb46e2ce9bf84"
            ]
        ]
    },
    {
        "id": "2f4ee80d50eb5766",
        "type": "blynk-iot-out-write",
        "z": "9df56c6e7d890c33",
        "name": "set point",
        "pin": "18",
        "pinmode": 0,
        "client": "c9ea7c38ff443320",
        "x": 1520,
        "y": 340,
        "wires": []
    },
    {
        "id": "a6cd7426a0973c56",
        "type": "pccc in",
        "z": "9df56c6e7d890c33",
        "endpoint": "41799ff2dbbecc92",
        "mode": "single",
        "variable": "SetPoint",
        "diff": true,
        "name": "",
        "x": 1200,
        "y": 260,
        "wires": [
            [
                "2f4ee80d50eb5766",
                "2afe2f41f399feee"
            ]
        ]
    },
    {
        "id": "cafa80ee25752833",
        "type": "mqtt out",
        "z": "9df56c6e7d890c33",
        "name": "",
        "topic": "PROCESS",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "42c9e54b64690c46",
        "x": 510,
        "y": 80,
        "wires": []
    },
    {
        "id": "f8ce5bfdb724674f",
        "type": "mqtt out",
        "z": "9df56c6e7d890c33",
        "name": "",
        "topic": "TEMP",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "42c9e54b64690c46",
        "x": 470,
        "y": 140,
        "wires": []
    },
    {
        "id": "91778d503bb65603",
        "type": "mqtt out",
        "z": "9df56c6e7d890c33",
        "name": "",
        "topic": "PUMP1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "42c9e54b64690c46",
        "x": 440,
        "y": 220,
        "wires": []
    },
    {
        "id": "b77ea21551129424",
        "type": "mqtt out",
        "z": "9df56c6e7d890c33",
        "name": "",
        "topic": "PUMP2",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "42c9e54b64690c46",
        "x": 460,
        "y": 280,
        "wires": []
    },
    {
        "id": "267fd06535cc4860",
        "type": "mqtt out",
        "z": "9df56c6e7d890c33",
        "name": "",
        "topic": "PUMP3",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "42c9e54b64690c46",
        "x": 440,
        "y": 340,
        "wires": []
    },
    {
        "id": "52988eb14c7f6ec3",
        "type": "mqtt out",
        "z": "9df56c6e7d890c33",
        "name": "",
        "topic": "PUMP4",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "42c9e54b64690c46",
        "x": 420,
        "y": 400,
        "wires": []
    },
    {
        "id": "3e7d9e5b0fcc71f7",
        "type": "mqtt out",
        "z": "9df56c6e7d890c33",
        "name": "",
        "topic": "DRAINPUMP",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "42c9e54b64690c46",
        "x": 440,
        "y": 460,
        "wires": []
    },
    {
        "id": "56d00f1e367ad46e",
        "type": "mqtt out",
        "z": "9df56c6e7d890c33",
        "name": "",
        "topic": "HEATER",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "42c9e54b64690c46",
        "x": 380,
        "y": 520,
        "wires": []
    },
    {
        "id": "bec4eafc334a809f",
        "type": "mqtt out",
        "z": "9df56c6e7d890c33",
        "name": "",
        "topic": "MIXER",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "42c9e54b64690c46",
        "x": 400,
        "y": 580,
        "wires": []
    },
    {
        "id": "f291dec255c655ca",
        "type": "pccc in",
        "z": "9df56c6e7d890c33",
        "endpoint": "41799ff2dbbecc92",
        "mode": "single",
        "variable": "MXHS",
        "diff": true,
        "name": "",
        "x": 210,
        "y": 820,
        "wires": [
            [
                "4e214a3427dadbc0"
            ]
        ]
    },
    {
        "id": "4ef0e4d1fba39897",
        "type": "pccc in",
        "z": "9df56c6e7d890c33",
        "endpoint": "41799ff2dbbecc92",
        "mode": "single",
        "variable": "HTHS",
        "diff": true,
        "name": "",
        "x": 210,
        "y": 880,
        "wires": [
            [
                "f4cb8522c93cc38c"
            ]
        ]
    },
    {
        "id": "9cbd20fdb6bbab08",
        "type": "pccc in",
        "z": "9df56c6e7d890c33",
        "endpoint": "41799ff2dbbecc92",
        "mode": "single",
        "variable": "MXLS",
        "diff": true,
        "name": "",
        "x": 210,
        "y": 940,
        "wires": [
            [
                "5a2141e5ccfa739d"
            ]
        ]
    },
    {
        "id": "d6a697d9bd2a5626",
        "type": "pccc in",
        "z": "9df56c6e7d890c33",
        "endpoint": "41799ff2dbbecc92",
        "mode": "single",
        "variable": "HTLS",
        "diff": true,
        "name": "",
        "x": 230,
        "y": 1000,
        "wires": [
            [
                "e1404d08401a184c"
            ]
        ]
    },
    {
        "id": "78df6087f951cefd",
        "type": "pccc in",
        "z": "9df56c6e7d890c33",
        "endpoint": "41799ff2dbbecc92",
        "mode": "all",
        "variable": "",
        "diff": true,
        "name": "",
        "x": 210,
        "y": 640,
        "wires": [
            [
                "dd90f2e5d965ef18"
            ]
        ]
    },
    {
        "id": "f454a1646cd8947c",
        "type": "pccc in",
        "z": "9df56c6e7d890c33",
        "endpoint": "41799ff2dbbecc92",
        "mode": "single",
        "variable": "",
        "diff": true,
        "name": "",
        "x": 210,
        "y": 720,
        "wires": [
            [
                "5fb4a14b62e4fa22"
            ]
        ]
    },
    {
        "id": "4e214a3427dadbc0",
        "type": "mqtt out",
        "z": "9df56c6e7d890c33",
        "name": "",
        "topic": "MIXINGTANKHIGH",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "42c9e54b64690c46",
        "x": 450,
        "y": 820,
        "wires": []
    },
    {
        "id": "f4cb8522c93cc38c",
        "type": "mqtt out",
        "z": "9df56c6e7d890c33",
        "name": "",
        "topic": "HEATINGTANKHIGH",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "42c9e54b64690c46",
        "x": 460,
        "y": 880,
        "wires": []
    },
    {
        "id": "5a2141e5ccfa739d",
        "type": "mqtt out",
        "z": "9df56c6e7d890c33",
        "name": "",
        "topic": "MIXINGTANKLOW",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "42c9e54b64690c46",
        "x": 470,
        "y": 940,
        "wires": []
    },
    {
        "id": "e1404d08401a184c",
        "type": "mqtt out",
        "z": "9df56c6e7d890c33",
        "name": "",
        "topic": "HEATINGTANKLOW",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "42c9e54b64690c46",
        "x": 480,
        "y": 1000,
        "wires": []
    },
    {
        "id": "9c8e742774d07029",
        "type": "pccc out",
        "z": "9df56c6e7d890c33",
        "endpoint": "41799ff2dbbecc92",
        "variable": "PROCESS START",
        "name": "",
        "x": 1050,
        "y": 800,
        "wires": []
    },
    {
        "id": "42ede8afc4702cc5",
        "type": "pccc out",
        "z": "9df56c6e7d890c33",
        "endpoint": "41799ff2dbbecc92",
        "variable": "PROCESS STOP",
        "name": "",
        "x": 1050,
        "y": 860,
        "wires": []
    },
    {
        "id": "5dde5aec2db98f29",
        "type": "pccc out",
        "z": "9df56c6e7d890c33",
        "endpoint": "41799ff2dbbecc92",
        "variable": "SetPoint",
        "name": "",
        "x": 1040,
        "y": 940,
        "wires": []
    },
    {
        "id": "c59a373a7ae00bd2",
        "type": "mqtt in",
        "z": "9df56c6e7d890c33",
        "name": "",
        "topic": "PROCESSSTART",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "42c9e54b64690c46",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 850,
        "y": 800,
        "wires": [
            [
                "9c8e742774d07029"
            ]
        ]
    },
    {
        "id": "d1b98079c004d9a2",
        "type": "mqtt in",
        "z": "9df56c6e7d890c33",
        "name": "",
        "topic": "PROCESSSTOP",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "42c9e54b64690c46",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 840,
        "y": 860,
        "wires": [
            [
                "42ede8afc4702cc5"
            ]
        ]
    },
    {
        "id": "7976d541a3faaf32",
        "type": "mqtt in",
        "z": "9df56c6e7d890c33",
        "name": "",
        "topic": "SETPOINT",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "42c9e54b64690c46",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 820,
        "y": 940,
        "wires": [
            [
                "5dde5aec2db98f29"
            ]
        ]
    },
    {
        "id": "2afe2f41f399feee",
        "type": "mqtt out",
        "z": "9df56c6e7d890c33",
        "name": "",
        "topic": "SETPOINTPLC",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "42c9e54b64690c46",
        "x": 1440,
        "y": 440,
        "wires": []
    },
    {
        "id": "3b9a8b28bf5eb2dc",
        "type": "inject",
        "z": "9df56c6e7d890c33",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 70,
        "y": 780,
        "wires": [
            [
                "cafa80ee25752833",
                "91778d503bb65603",
                "b77ea21551129424",
                "267fd06535cc4860",
                "52988eb14c7f6ec3",
                "3e7d9e5b0fcc71f7",
                "56d00f1e367ad46e",
                "bec4eafc334a809f",
                "4e214a3427dadbc0",
                "f4cb8522c93cc38c",
                "5a2141e5ccfa739d",
                "e1404d08401a184c"
            ]
        ]
    },
    {
        "id": "1d98d44c6336e036",
        "type": "inject",
        "z": "9df56c6e7d890c33",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "45",
        "payloadType": "num",
        "x": 50,
        "y": 140,
        "wires": [
            [
                "f8ce5bfdb724674f",
                "2afe2f41f399feee"
            ]
        ]
    },
    {
        "id": "c9ea7c38ff443320",
        "type": "blynk-iot-client",
        "name": "",
        "path": "blynk.cloud",
        "key": "Y7YA5XJ5Cmt9YtNdYj0ycQyY1Di76LSr",
        "tmpl": "TMPLYRmv11kf",
        "dbg_all": false,
        "dbg_prop": false,
        "dbg_sync": false,
        "dbg_low": false,
        "dbg_pins": "",
        "multi_cmd": false,
        "enabled": true
    },
    {
        "id": "41799ff2dbbecc92",
        "type": "pccc endpoint",
        "address": "192.168.29.11",
        "port": "44818",
        "userouting": false,
        "routingbuf": "[1,0]",
        "cycletime": "500",
        "timeout": "1500",
        "name": "plc",
        "vartable": [
            {
                "addr": "N7:1",
                "name": "Temp"
            },
            {
                "addr": "B10:0/1",
                "name": "Process"
            },
            {
                "addr": "B10:0/2",
                "name": "Pump1"
            },
            {
                "addr": "B10:0/3",
                "name": "Pump2"
            },
            {
                "addr": "B10:0/4",
                "name": "Pump3"
            },
            {
                "addr": "B10:0/5",
                "name": "Pump4"
            },
            {
                "addr": "B10:0/6",
                "name": "DrainPump"
            },
            {
                "addr": "B10:0/8",
                "name": "Heater"
            },
            {
                "addr": "B10:0/7",
                "name": "Mixer"
            },
            {
                "addr": "B9:0/3",
                "name": "MXLS"
            },
            {
                "addr": "B9:0/4",
                "name": "MXHS"
            },
            {
                "addr": "B9:0/5",
                "name": "HTLS"
            },
            {
                "addr": "B9:0/6",
                "name": "HTHS"
            },
            {
                "addr": "N7:2",
                "name": "SetPoint"
            },
            {
                "addr": "B11:0/0",
                "name": "PROCESS START"
            },
            {
                "addr": "B11:0/1",
                "name": "PROCESS STOP"
            },
            {
                "addr": "B14:0/0",
                "name": "UNITY MIXINGTANK  LEVEL"
            },
            {
                "addr": "B14:0/1",
                "name": "UNITY HEATINGTANK  LEVEL"
            }
        ]
    },
    {
        "id": "42c9e54b64690c46",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]